altgraph==0.17
anyio==2.0.2
appdirs==1.4.4
APScheduler==3.6.3
argon2-cffi==20.1.0
as==0.1
asgiref==3.3.1
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
Automat==20.2.0
autopep8==1.5.4
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
clarifai==2.6.2
click==7.1.2
colorama==0.4.4
comtypes==1.1.8
configparser==3.8.1
constantly==15.1.0
cryptography==3.3.1
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.4
djangorestframework==3.12.2
EasyProcess==0.3
emoji==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
fastapi==0.63.0
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
future==0.18.2
googleapis-common-protos==1.52.0
grpcio==1.34.1
h11==0.12.0
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
instapy==0.6.8
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.6.4
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
jovian==0.2.33
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyter-server==1.2.2
jupyterlab==3.0.6
jupyterlab-pygments==0.1.2
jupyterlab-server==2.1.3
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
MeaningCloud-python==2.0.0
mistune==0.8.4
MouseInfo==0.1.3
msedge-selenium-tools==3.141.3
nbclassic==0.2.6
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
nltk==3.5
notebook==6.2.0
numpy==1.19.5
openpyxl==3.0.7
packaging==20.8
pandas==1.2.1
pandocfilters==1.4.3
parsel==1.6.0
pd==0.0.1
pdfminer==20191125
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.1.0
plyer==2.0.0
prometheus-client==0.9.0
prompt-toolkit==3.0.10
Protego==0.1.16
protobuf==3.14.0
proxyscrape==0.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/python/python39/Lib/site-packages/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.52
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.7.3
PyDispatcher==2.0.5
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.7.4
PyHamcrest==2.0.2
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
PyMsgBox==1.0.9
PyMySQL==0.7.11
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
python-dateutil==2.8.1
python-telegram-bot==13.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2017.2
pywhatkit==3.9
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4
pyzmq==21.0.1
qtconsole==5.0.2
QtPy==1.9.0
queuelib==1.5.0
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
Scrapy==1.4.0
scrapy-proxy-pool==0.1.9
scrapy-user-agents==0.1.1
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.15.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
starlette==0.13.6
terminado==0.9.2
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
Twisted @ file:///C:/python/python39/Lib/Twisted-20.3.0-cp39-cp39-win_amd64.whl
tzlocal==2.1
ua-parser==0.10.0
urllib3==1.26.2
user-agents==2.2.0
uuid==1.30
uvicorn==0.13.3
virtualenv==20.4.2
w3lib==1.22.0
wcwidth==0.2.5
webdriverdownloader==1.1.0.3
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
wrapt==1.12.1
xgboost==1.3.3
xlrd==2.0.1
zope.interface==5.2.0
